<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Application</title>
</head>
<body>
<p> Hello {{ request.user.email }} <a href="/logout/"> Logout</a></p>
{% if result %}
    <p><h4>{{ result }}</h4></p>
    <table border="1">
        <tr>
            <th>
                Sr. No.
            </th>
            <th>
                Question
            </th>
            <th>
                Correct Answer
            </th>
            <th>
                Your Answer
            </th>
        </tr>
        {% for question, answer in data.items %}
            <tr>
                <td width="50px;">
                    {{ forloop.counter }}
                </td>
                <td width="400px;">
                    {{ question }}
                </td>
                <td width="400px;">
                    {{ answer.1 }}
                </td>
                <td width="400px;">
                    {{ answer.0 }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/quiz/">Click Here for retest</a>
{% endif %}
<hr>
<form name="quiz" action="/quiz/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for question in questions %}
        <table>
            <tr>
                <td>{{ question }}</td>
                <td><input type="hidden" name="question{{ forloop.counter }}"
                           value="{{ question }}"/></td>
            </tr>
            {% for ans in answer %}
                {% if ans.question == question %}
                    <tr>
                        <td>{{ ans.answer }}</td>
                        <td><input type="radio" name="answer{{ forloop.parentloop.counter }}" value="{{ ans.answer }}"/>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr>
    {% endfor %}
    {% if questions %}
        <input type="submit">
    {% endif %}
</form>
</body>
</html>